<div class="modal-content">
  <div class="field">
    <label for="password">Password</label>
    <input id="password" type="text" [(ngModel)]="password"
           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>
</div>
<div class="modal-footer">
  <button type="button" pButton icon="pi pi-times" (click)="cancelUnlock()" class="gap-2">Cancel</button>
  <button type="button" pButton icon="pi pi-check" (click)="unlockPDF()" class="gap-2">Confirm</button>
</div>



