<div class="flex justify-content-center">
  <div class="file-drop" (drop)="drop($event)" (dragover)="dragOver($event)">
    <div class="file-drop__image"></div>
    <div class="file-drop__input">
      <input type="file" #fileInput class="file-drop__input-file" style="display: none;" (change)="onFileChange($event)"
             multiple>
      <div class="file-drop__drag-text">Drag & drop</div>
      <div class="file-drop__browse">
        <span class="file-drop__browse-text">or </span>
        <span class="file-drop__browse-btn" (click)="fileInput.click()">Browse</span>
      </div>
    </div>
  </div>
</div>
