<div class="flex justify-content-center">
  <div class="file-drop cursor-pointer" (drop)="drop($event)" (dragover)="dragOver($event)" (click)="fileInput.click()">
    <div class="file-drop__image">
      <fa-icon [size]="'2xl'" [icon]="'cloud-arrow-up'" class="fa-icon blue"></fa-icon>
    </div>
    <div class="file-drop__input">
      <input type="file" #fileInput class="file-drop__input-file" style="display: none;" (change)="onFileChange($event)"
             multiple>
      <div class="file-drop__drag-text">Drag & drop</div>
      <div class="file-drop__browse">
        <span class="file-drop__browse-text">or </span>
        <span class="file-drop__browse-btn">Browse</span>
      </div>
    </div>
  </div>
</div>
