<div class="file-preview">
  <div class="file-preview__close" (click)="removeDocument()">
    <fa-icon [size]="'1x'" [icon]="'close'" class="fa-icon"></fa-icon>
  </div>
  <canvas #firstPageCanvas id="firstPageCanvas" width="127" height="180"></canvas>

  <fa-icon *ngIf="pdfError === PdfErrorType.InvalidFormat" [size]="'2x'" [icon]="'question'"
           class="fa-icon absolute"></fa-icon>

  <div *ngIf="pdfError === PdfErrorType.PasswordProtected" class="file-preview__lock">
    <fa-icon [size]="'2x'" [icon]="isHovered ? 'lock-open' : 'lock'" class="fa-icon" style="color: red"></fa-icon>
    <button class="btn-remove password" (mouseover)="onButtonHover()" (mouseleave)="onButtonLeave()"
            (click)="removePassword()">
      Remove password
    </button>
  </div>

  <div *ngIf="pdfError === PdfErrorType.Permissions" class="file-preview__lock">
    <fa-icon [size]="'2x'" [icon]="'triangle-exclamation'" class="fa-icon" style="color: orangered"></fa-icon>
    <button class="btn-remove permissions" (mouseover)="onButtonHover()" (mouseleave)="onButtonLeave()"
            (click)="removePermissions()">
      Remove permissions
    </button>
  </div>
</div>
