<div class="mt-7 flex justify-content-center align-items-stretch gap-5">
  <div class="card card--contact">
    <div>
      <fa-icon [size]="'2xl'" [icon]="'address-card'" class="fa-icon blue"></fa-icon>
    </div>
    <div class="gap-2 flex">
      <fa-icon [size]="'1x'" [icon]="'user'" class="fa-icon blue"></fa-icon>
      Jonathan Valle
    </div>
    <div class="gap-2 flex">
      <fa-icon [size]="'1x'" [icon]="'envelope'" class="fa-icon blue"></fa-icon>
      jonathan.valle78@gmail.com
    </div>
    <hr class="separator">
    <div class="contact-info">
      Backend version <span class="font-bold">{{ backendVersion }}</span>
    </div>
    <div class="contact-info">
      Frontend version : <span class="font-bold">{{ version }}</span>
    </div>
  </div>
</div>
