<div class="flex flex-column justify-content-center align-items-center">
  <h2>{{ 'file.merge.title' | translate }}</h2>
  <p class="text-center" style="max-width: 800px">{{ 'file.merge.title.description' | translate }}</p>
</div>

<div class="mt-5 flex justify-content-center gap-5">
  <div class="flex flex-column">
    <file-drop (addFiles)="addFiles($event)"></file-drop>

    <ng-container *ngIf="files.length > 0">
      <div class="mt-4 pb-4 flex justify-content-center">
        <p-button label="Merge files" [styleClass]="'w-full'" (onClick)="upload()"
                  [disabled]="!files || files.length === 0" class="flex-1"></p-button>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="files.length > 0">
    <div class="flex gap-3 flex-wrap" style="flex-grow: 2">
      <ng-container *ngFor="let file of files">
        <pdf-first-page [file]="file"
                        (removeFile)="removeFile($event)"
                        (removeFilePassword)="removeFilePassword($event)"
                        (removeFilePermissions)="removeFilePermissions($event)"
                        (pdfLoadFinished)="pdfLoadFinished($event)"
        ></pdf-first-page>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="loadingFiles.length > 0">
    <div>
      Loading files...
    </div>
  </ng-container>

</div>

