<nav class="navbar flex justify-content-end">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a class="navbar__link" [routerLink]="['/']">Home</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" [routerLink]="['/file-merge']">Merge PDF</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" [routerLink]="['/file-split']">Split PDF</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" [routerLink]="['/documents']">Documents</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" [routerLink]="['/contact']">Contact</a>
    </li>
  </ul>
</nav>
