<div class="mt-5 flex flex-column justify-content-center">

  <file-drop (filesEmit)="addFiles($event)"></file-drop>

  <div class="mt-4 pb-4 flex justify-content-center">
    <p-button label="Merge files" (onClick)="upload()" [disabled]="!files || files.length === 0"></p-button>
  </div>

  <div class="flex justify-content-center gap-3 flex-wrap">
    <ng-container *ngFor="let file of files">
      <pdf-page [file]="file"></pdf-page>
    </ng-container>
  </div>

  <div class="row mt-4">
    <table class="table table-striped w-full">
      <thead>
      <tr>
        <th scope="col" class="text-center" style="width:20%">#</th>
        <th scope="col" class="text-center" style="width:60%">Nom du fichier</th>
        <th scope="col" class="text-center" style="width:20%">Taille</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of files; let i = index" class="text-center">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ file?.name }}
        </td>
        <td>{{ formatBytes(file?.size) }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
