<div class="bar-item cursor-pointer" [ngClass]="{'bar-item--title--collapsed': !isCollapsed}" (click)="selectFile()">
  <div class="bar-item__drag">
    <fa-icon [size]="'1x'" [icon]="'grip-lines'" class="fa-icon"></fa-icon>
  </div>
  <div class="bar-item__number">
    <span>
      {{ index }}
    </span>
  </div>
  <div class="bar-item__name">
    <div style="display: block">
      <span>{{ file?.originalFile?.name }}</span>
      <span *ngIf="file?.pdfError" class="bar-item__name__error">
        <p-tag severity="danger">{{ file?.pdfError?.type }}</p-tag>
      </span>
    </div>
  </div>
  <div class="bar-item__expand">
    <fa-icon *ngIf="!isCollapsed" [size]="'1x'" [icon]="'caret-down'" class="fa-icon cursor-pointer"
    ></fa-icon>
    <fa-icon *ngIf="isCollapsed" [size]="'1x'" [icon]="'caret-right'" class="fa-icon cursor-pointer"></fa-icon>
  </div>
</div>
<div class="bar-item-collapse flex justify-content-center flex-column gap-3 align-items-center"
     [@expandCollapse]="isCollapsed ? 'collapsed' : 'expanded'">
  <div class="bar-item-collapse--actions">
    <div style="font-size: 0.8rem; font-weight: 400">
      <fa-icon [size]="'1x'" [icon]="'pen'" class="fa-icon"></fa-icon>
      Edit
    </div>
    <div style="font-size: 0.8rem;" class="cursor-pointer">
      <fa-icon [size]="'1x'" [icon]="'trash'" class="fa-icon mr-2"></fa-icon>
      <span style="font-weight: 600">Trash</span>
    </div>
  </div>
  <ng-container *ngFor="let pagePdf of file?.pagesProxy; let i = index">
    <div style="display: grid; justify-items: center; gap: 0.5rem">
      <div [ngClass]="{
                        'bar-item-pdf-viewer': true,
                        'bar-item-pdf-viewer--selected': pagePdf.selected,
                        'bar-item-pdf-viewer--none': !pagePdf.selected,
                      }"
           (click)="selectPage(pagePdf.pdfPage.pageNumber)"
      >
        <pdf-page-content [pagePdf]="pagePdf.pdfPage"
                          [customWidth]="170"></pdf-page-content>
      </div>
      <span>{{ pagePdf.pdfPage.pageNumber }}</span>
    </div>
  </ng-container>
</div>

