<ng-container *ngIf="!hideToolbar">
  <ng-container *ngIf="toolbar">
    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
  </ng-container>
  <ng-container *ngIf="!toolbar">
    <pdf-viewer-toolbar></pdf-viewer-toolbar>
  </ng-container>
</ng-container>

<div style="height: 100%;">
  <!-- Toolbar -->

  <!-- Main container -->
  <div id="mainContainer">
    <!-- Document Loader -->
    <ng-container *ngIf="isLoading">
      <div class="loader-container">
        <span class="loader"></span>
        <div class="loading">
          <span class="mr-2">Chargement du fichier</span>
          <span class="dot">.</span>
          <span class="dot">.</span>
          <span class="dot">.</span>
        </div>
      </div>
    </ng-container>


    <!-- Content Blocker -->
    <div [hidden]="!blockViewer" class="container-block"></div>

    <!-- Viewer Container -->
    <div #pdfViewerContainer id="viewerContainer" tabindex="0">
      <div id="viewer" class="pdfViewer"></div>
    </div>

  </div>
</div>
