<div class="flex flex-column justify-content-center align-items-center">
  <h2>{{ 'file.split.title' | translate }}</h2>
  <p class="text-center" style="max-width: 800px">{{ 'file.split.title.description' | translate }}</p>
</div>

<div class="mt-5 flex justify-content-center gap-5">
  <div class="flex flex-column" *ngIf="!file">
    <file-drop (addFiles)="addFile($event)"></file-drop>
  </div>
</div>

<ng-container *ngIf="file">
  <div class="mt-4 pb-4 flex justify-content-center">
    <p-button label="{{ 'file.split.title' | translate }}" [styleClass]="'w-full'" (onClick)="splitFiles()"></p-button>
  </div>
</ng-container>

<div *ngIf="file" class="mt-5 flex justify-content-center gap-5 flex-wrap">
  <div *ngFor="let pagePdf of file.pagesProxy; let i = index">
    <div class="file-preview cursor-pointer" (click)="select(pagePdf.uuid)">
      <div *ngIf="pagePdf?.display" class="file-preview__select">
        <fa-icon [size]="'1x'" [icon]="'check'" class="fa-icon"></fa-icon>
      </div>
      <ng-container *ngIf="pagePdf.pdfPage">
        <pdf-page-content [pagePdf]="pagePdf.pdfPage"></pdf-page-content>
      </ng-container>
    </div>
  </div>
</div>

