@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&family=Unbounded:wght@200;400&display=swap');

@import "scss/navbar";

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;

$theme: #454cad;
$dark-text: #5f6982;

$blue: #1684FD;

body {
  border: none;
  margin: 0;
  padding: 0;

  font-family: $font-family-base;
  font-size: $font-size-base;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 15px;
}

.file-drop {
  display: grid;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 1rem;
  background-color: #f5f5f5;
  width: 500px;
  height: 300px;
}

.file-drop__image {
  text-align: center;
}

.file-drop__input {
  text-align: center;
}

.file-drop__input-file {

}

.file-drop__drag-text {
  font-size: 1.5rem;
}

.file-drop__browse {
  .file-drop__browse-text {
    font-size: 1.5rem;
  }

  .file-drop__browse-btn {
    font-size: 1.5rem;
    color: $blue;
    cursor: pointer;
  }
}

.file-preview {
  position: relative;
  margin: 4px;
  width: 198px;
  height: 244px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #f6f6f8;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);

  canvas {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2)
  }
}

.file-preview:hover {
  background: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.file-preview__close {
  top: 2%;
  left: 85%;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E9;
  border-radius: 50%;
  line-height: 1px;
  position: absolute;
  cursor: pointer;
}

.file-preview__close:hover {
  background-color: red;
  color: white;
}
