@import "./variables";

.container--board {
  display: flex;
  height: calc(100% - 50px);
  max-width: none !important;
  padding: 0 !important;
}

.documents-bar, .signatories-bar {
  width: 20%;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.documents-bar--list{
  background-color: $white;
  overflow-y: scroll;
  flex: 1;
  scrollbar-width: none; /* Pour les navigateurs basés sur Firefox */
  -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

.documents-bar--list::-webkit-scrollbar,
.signatories-bar::-webkit-scrollbar{
  display: none; /* Pour les navigateurs basés sur Webkit (Chrome, Safari, etc.) */
}

.custom-viewer {
  height: 100%;
  width: 60%;
  background-color: $white-somber-1;
  overflow-y: scroll;
  scrollbar-width: none; /* cache la scrollbar pour Firefox */
  -ms-overflow-style: none; /* cache la scrollbar pour Internet Explorer et Edge */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-viewer::-webkit-scrollbar {
  display: none;
}

.bar-item {
  display: flex;
  background-color: $white;
  border-bottom: 1px solid $white-somber-3;
  height: 60px;
}

.bar-item--title {
  height: 80px;
  position: relative;
  border-bottom: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  clip-path: inset(0px 0px -5px 0px);
  z-index: 10;
}

.bar-item__drag {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color-grey;
}

.bar-item__number {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-item__name {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.bar-item__expand {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color-grey;
}

.collapsed{
  display: none;
}

.bar-item-collapse {
  background-color: $white-somber-2;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.bar-item-collapse::-webkit-scrollbar {
  display: none;
}

.bar-item--title--collapsed{
  position: sticky;
  top: 0px;
  z-index: 1;
}
