$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;

$white: #FFFFFF;
$background: #F7F6F5;
$background-somber: #F3F2F0;
$background-border: #e3e2e1;
$text-color-grey: #768E96;
$dark-text: #5f6982;
$blue: #1684FD;
