$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;

$white: #FFFFFF;
$white-somber-1: #F7F6F5;
$white-somber-2: #F3F2F0;
$white-somber-3: #e3e2e1;
$white-somber-4: #d3d2d1;
$grey: #768E96;
$dark-text: #5f6982;
$blue: #0a1974f0;
$green: #3CB371;
