$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;

$white: #FFFFFF;
$white-somber-1: #F7F6F5;
$white-somber-2: #F3F2F0;
$white-somber-3: #e3e2e1;
$text-color-grey: #768E96;
$dark-text: #5f6982;
$blue: #1684FD;
